figure {
    float:left; 
    margin-right: 10px; 
    border: 1px solid #000;
    margin-bottom: 10px;
            
}

header {
    width: 1500px;
    height: 360px;
}

#navegador-paginas {
    width: 1500px;
    height: 33px;
    background-color: #5d240a;
    padding-top: 5px;
}
#navegador-paginas ul {
    list-style: none;
    margin: 0;
    padding: 4px;
}

#navegador-paginas ul li {
    display: inline-block;
    padding-right: 15px;
    padding-left: 55px;
}

#navegador-paginas ul li a{
    font-size: 1em;
    text-decoration: none;
    color: white;
}

#navegador-paginas ul li a:hover{
    background-color: #b4531a;
}

figcaption{
    font-family: sans-serif;
    background: #ddd;
    font-size: 11px;
    padding: 3px;
}
